{% load staticfiles %}
<!DOCTYPE html>
<html>
　<head>
　　<meta charset="UTF-8" />
　　<title>typingGame</title>
　　<link rel="stylesheet" type="text/css" media="screen,print" href="{% static 'css/style.css' %}" />
　</head>
　<body>
   <div class="background"> 
    <div class="color"> 
    <div class="content"> 
	~Typing  Game~
	</div>
	</div>
	</div>
	<input type="button" class="button" id="restart" value="入力のリセット" onclick="gameSet()">
	<div id ="rank"></div>
    <div id ="failcount"></div>
    <div id="frame">
	</div>
　　　<script type="text/javascript" src="{% static 'css/maingame.js' %}"></script>
	<div id ="success">
	</div>
	<div id ="fail">
	</div>
　</body>
</html>