.background{
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background: url(starnights.jpg) ;
}
 
.color{
  height: 100%;
  background: #C0C0C0;
  background: rgba(255,255,255,0.5);
    background-repeat: repeat-y;
}
.content{
  font-family: 'Comic Sans MS';
  position: center;
  width: 600px;
  height: 80px;
  margin: auto;
  font-size: 50px;
  text-align: center;
}
#fail{
  font-family: 'Comic Sans MS';
  position: center;
  width: 600px;
  height: 80px;
  margin: auto;
  font-size: 20px;
  text-align: center;
  color:blue;
}
#success{
  font-family: 'Comic Sans MS';
  position: center;　　
  margin: auto;
  font-size: 40px;
  text-align: center;
  color:red;
}
#rank{　　
  margin: auto;
  font-size: 40px;
  text-align: center;
  color:red;
}
body {
  background-image: url('star.jpg');
  background-repeat: repeat-y;
  background-size:cover;
  background-position: left;
}
/*入力用フレーム*/
#frame{
 margin: 2em auto;
 padding: 1em;
 width: 10%;
 height: 50%;
 color: #666666;
 border: 2px solid #996633; 
 background-color: #fff;
 border-radius: 20px;
 font-size: 50px;
}
.button{
	background-color: black;
	color:white;
}